*
!.gitignore
!LICENSE
!README.adoc
!CHANGELOG.adoc
!package.json
!pnpm-lock.yaml
!action.yml
!.antora-link-suppressions.example.yml
!lib/
!lib/**
!bin/
!bin/**
!test/
!test/**
!ci/
!ci/**
!.github/
!.github/**
!DESIGN.adoc
!examples/
!examples/**
